* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  
  body {
    
    background: -webkit-linear-gradient(left,#0D0C00,#403226,#594C3B,#403226,#0D0D0D);
    background: -o-linear-gradient(left,#0D0C00,#403226,#594C3B,#403226,#0D0D0D);
    background: linear-gradient(to right,#0D0C00,#403226,#594C3B,#403226,#0D0D0D);
    background-size: 700% 700%;
    animation: infinite 30s gra ease;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    transition: all 0.4s ease-in-out;
  }

  @keyframes gra{
    0%{
      background-position: 0% 50%;
    }
  
    50%{
      background-position: 100% 50%;
    }
  
    100%{
      background-position: 0% 50%;
    }
  }
  
  .container .navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}
.navbar .logo{
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}
  
.navbar ul{
  align-items: center;
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  align-items: center;
  list-style: none;
  display: inline-block;
  margin:0 8px;
  line-height: 80px;
}
  
.navbar ul li a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 6px 12px;
}
  
.navbar ul li a:active,
.navbar ul li a:hover{
  background: #2f6874;
  border-radius: 2px; 
}
  
  /*Header-content****************************************************************************************
  ********************************************************************************************************/
  
.info {
  display: grid;
  margin-top: 13rem;
  position: relative;
  justify-content: center;
  text-align: center;
  letter-spacing: 3px;
  }
.info .name {
  color: white;
  font-size: 3rem;
}

.info .hello{
  color: white;
  font-size: 2rem;
}
.info p {
  margin-left: 10rem;
  margin-right: 10rem;
  text-align: center;
  line-height: 2rem;
  padding: 3rem;
  color: blanchedalmond;
}