*{
    margin:0;
    padding: 0;
}

body {
  background: -webkit-linear-gradient(left,#0D0C00,#403226,#594C3B,#403226,#0D0D0D);
  background: -o-linear-gradient(left,#0D0C00,#403226,#594C3B,#403226,#0D0D0D);
  background: linear-gradient(to right,#0D0C00,#403226,#594C3B,#403226,#0D0D0D);
  background-size: 700% 700%;
  animation: infinite 30s gra ease;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  transition: all 0.4s ease-in-out;
}

@keyframes gra{
  0%{
    background-position: 0% 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0% 50%;
  }
}

.container .navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
}
.navbar .logo{
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}
  
.navbar ul{
  align-items: center;
  float: right;
  margin-right: 20px;
}
.navbar ul li{
  align-items: center;
  list-style: none;
  display: inline-block;
  margin:0 8px;
  line-height: 80px;
}
  
.navbar ul li a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  padding: 6px 12px;
}
  
.navbar ul li a:active,
.navbar ul li a:hover{
  background: #2f6874;
  border-radius: 2px; 
}

/* ***************  ABOUT ********************** */

.about-container {
    display: flex;
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 5rem;
  }

  .about-container .sol-about {
    padding-right: 10rem;
  }
  .about-container .sol-about p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    line-height: 2rem;
    padding: 1rem;
    text-align: center;
    color: blanchedalmond;

  }
  .about-container .sol-about h4 {
    color: white;
    justify-content: center;
    display: flex;
    font-size: 2rem;
    text-transform: uppercase;

  }

  .about-container .sağ-about {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin-right: 1rem;
    
  }
  .about-container .sağ-about .about-item img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 15px;
  }
  .about-container .sağ-about .about-item {
    border: 1px solid aqua;
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  }

  .about-container .sağ-about .about-item:hover {
    cursor: default;
    transform: translateY(-5px);
    border: 1px solid orange;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.32);
  }

  .about-container .sağ-about .about-item .abt-text {
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }
  .about-container .sağ-about .about-item .abt-text .buyuk-yazi {
    text-decoration: none;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    color: aqua;
  }

  .about-container .sağ-about .about-item .abt-text .small-text {
    justify-content: center;
    padding-left: 3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: blue;
    letter-spacing: 2px;
  }
  
  
  
  /* STATS ************************
  ************************ */

.about-stats {
  padding-top: 1rem;
  margin: 10rem;
  padding-bottom: 4rem;
}

.about-stats .stats-baslik{
  color: white;
  font-size: 3rem;
  text-align: center;
}


.about-stats .experience-bars {
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.about-stats .experience-bars .experience-bar {
  display: flex;
  flex-direction: column;
}

.about-stats .experience-bars .experience-bar .title {
  color: blanchedalmond;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;

}

.about-stats .experience-bars .experience-bar .experience-con {
  display: flex;
  align-items: center; 
}

.about-stats .experience-bars .experience-bar .experience-con .prog-text {
  font-size: 1.5rem;
  color: blanchedalmond;
}

.about-stats .experience-bars .experience-bar .experience-con .experience {
  width: 100%;
  height: 0.45rem;
  background-color: orange;
  margin-left: 1rem;
  position: relative;
  animation: animate 3s linear forwards;
}
.about-stats .experience-bars .experience-bar .experience-con .experience span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  transition: all 0.4s ease-in-out;
  width: 60%;
}
.about-stats .experience-bars .experience-bar .oran-bar {
  display: flex;
  align-items: center; 
}

.about-stats .experience-bars .experience-bar .oran-bar .text {
  font-size: 1.5rem;
  color: white;
}

.about-stats .experience-bars .experience-bar .oran-bar .oran{
  width: 100%;
  height: 0.45rem;
  background-color: orange;
  margin-left: 1rem;
  position: relative;
  animation: animate 3s linear forwards;
}

@keyframes animate {
0%{
  width: 0%;
  box-shadow: 0 0 30px red;
}

100%{
  box-shadow: 0 0 30px forestgreen;
  background-color: yellow;
}

}

.about-stats .experience-bars .experience-bar .oran-bar .oran span{
position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: red;
  transition: all 0.4s ease-in-out;
  width: 60%;
}

.about-stats .experience-bars .experience-bar .oran-bar .oran .java {
width: 60%;
}
.about-stats .experience-bars .experience-bar .oran-bar .oran .kotlin{
width: 66%;
}
.about-stats .experience-bars .experience-bar .oran-bar .oran .html{
width: 80%;
}
.about-stats .experience-bars .experience-bar .oran-bar .oran .css{
width: 75%;
}
.about-stats .experience-bars .experience-bar .oran-bar .oran .c{
width: 30%;
}
.about-stats .experience-bars .experience-bar .oran-bar .oran .python{
width: 58%;
}


.about-stats .experience-bars .experience-bar .experience-con .experience .java {
  width: 70%;
}

.about-stats .experience-bars .experience-bar .experience-con .experience .kotlin {
  width: 50%;
}

.about-stats .experience-bars .experience-bar .experience-con .experience .html {
  width: 50%;
}

.about-stats .experience-bars .experience-bar .experience-con .experience .css {
  width: 55%;
}

.about-stats .experience-bars .experience-bar .experience-con .experience .c {
  width: 60%;
}

.about-stats .experience-bars .experience-bar .experience-con .experience .python {
  width: 70%;
}

